<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>

<body>

    <!-- <ul>
            <li>Wake up in morning</li>
            <li>study</li>
            <li>Dinner</li>
        </ul> -->
    <h1>
        Today is <%= kindOfDay %>
    </h1>
</body>

</html>