<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>To-Do List</title>
</head>

<body>
    <div>
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>
    <div>
        <form action="/" method="post">
            <% for(var i=0; i < newTasks.length ; i++){ %>
                <label class="task">
                    <input type="checkbox">
                    <%= newTasks[i] %>
                </label>
                <% } %>

                    <input type="text" placeholder="Enter Your Next Task!" name="nextTask" autocomplete="off">
                    <button type="submit">+</button>
        </form>
    </div>
</body>

</html>